//variables
$color-blue: #355cb7;
$color-green: #60a024;
$color-yellow: #f5b337;
$color-orange: #e6672c;
$color-grey: #e2e0e0;

.app-container {
  padding: 20px;

  display: flex;
  .canvas-container {
    flex: 1;
    canvas {
      background: $color-blue;
      width: 100%;
    }
  }

  .controls {
    background-color: #e2e0e0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 220px;
    justify-content: space-between;
    img {
      width: 40px;
      cursor: pointer;
    }
  }
}
